@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
	font-family: "Oswald", serif;
	background-color: #eee;
	color: #222;
}

.heading-title {
	text-align: center;
}

div.search-box {
	width: 50%;
	margin-left: 25%;
}

.search-input {
	width: 80%;
	font-size: 20px;
	padding: 5px;
	border-radius: 10px;
	border-color: #eee;
}

.search-button {
	font-size: 20px;
	padding: 5px;
	border-radius: 10px;
	background-color: #ff1e00;
	color: white;
	border-color: #eee;
	outline: none;
}