@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
	font-family: "Oswald", serif;
	background-color: #eee;
	color: #222;
}

.heading-title {
	text-align: center;
}

div.search-box {
	width: 50%;
	margin-left: 25%;
}

.search-input {
	width: 80%;
	font-size: 20px;
	padding: 5px;
	border-radius: 10px;
	border-color: #eee;
}

.search-button {
	font-size: 20px;
	padding: 5px;
	border-radius: 10px;
	background-color: #ff1e00;
	color: white;
	border-color: #eee;
	outline: none;
}

.book-list {
	margin-top: 10px;
	margin-left: 250px;
	width: 840px;
}

.img-box {
	width: 200px;
	border: 1px solid black;
	display: inline-block;
	margin-top: 10px;
	margin-right: 3px;
}

.img-box img {
	width: 100%;
	height: 200px;
}

.book-desc {
	font-size: 12px;
	text-align: center;
}

.buy-button {
	font-size: 13px;
	padding: 5px;
	margin: 5px;
}